body {
    background-color: #222;
}

textarea {
    width: 100%;
    min-height: 200px;
    height: 80vh;
    background-color: white;
}

#editor {
    border: 1px solid black;
}

#preview {
    border: 1px solid black;
    background-color: #444;
}


pre,
code {
    color: #FF1493;
}