body {
    background-color: #222;
}

textarea{
    width: 100%;
    min-height: 95.5%;
    background-color: white;
}


#preview {
    border: 1px solid black;   
    background-color: #444;
}
#editor {
    border: 1px solid black;  
}

pre, code {
    color: #FF1493;
}