*{
    transition: 0.7s ease-in-out;
}

.custom-jumbo{

    width:420px;


}

.custom-container{
    display: flex;
    justify-content: center;
    align-content: center;

}

.bag {
    background: linear-gradient(35deg, rgb(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
}