.button-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    border: 1px solid black;
}

.calc-body{
    max-width: 300px;
    border: 2px solid black;
}